/* Variáveis de cores */
:root {
    --bg-color: #121212;
    --accent-color: #FFA500;
    --hover-color: #ff8c0062;
    --text-color: #ffffff;
    --secondary-text-color: #ccc;
    --item-bg-hover: rgba(255, 255, 255, 0.181);
    --scrollbar-thumb: #ccc;
    --scrollbar-track: #f4f4f4;
    --footer-bg: #ffffff22;
}

/* Estilos de layout e responsividade mantidos do código anterior */
html {
    scroll-behavior: smooth;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--bg-color);
    background-image: url(fundo-fast-food.png);
    background-size: 35%;
    color: var(--accent-color);
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    position: fixed;
    width: 100%;
}

header img {
    width: 20%;
    padding: 10px;
}

/* Container da lista */
.scroll-list-container {
    z-index: 999;
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    background-color: transparent;
    padding: 0px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Estilização dos itens da lista */
.scroll-list-container a {
    display: inline-block;
    text-decoration: none;
    color: var(--text-color);
    padding: 10px 20px;
    margin: 0 1px;
    border-radius: 5px;
    background-color: var(--hover-color);
    transition: all 0.5s ease;
}

.scroll-list-container a:hover {
    background-color: var(--hover-color);
    color: #FFA500;
}

/* Para esconder a barra de rolagem em navegadores */
.scroll-list-container::-webkit-scrollbar {
    height: 8px;
}

.scroll-list-container::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb);
    border-radius: 10px;
}

.scroll-list-container::-webkit-scrollbar-track {
    background-color: var(--scrollbar-track);
}

/* Esconde a barra de rolagem em smartphones */
.scroll-list-container::-webkit-scrollbar {
    display: none;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    padding-top: 50px;
}

h1 {
    text-align: center;
    font-size: 2.5rem;
    color: var(--accent-color);
    margin-bottom: 20px;
}

.section {
    margin-bottom: 40px;
    text-align: center;
}

.section h2 {
    margin-bottom: 20px;
    font-size: 1.8rem;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.items {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
    width: calc(100% - 10px);
    transition: transform 0.3s ease;
}

.item:hover {
    transform: scale(1.05);
    background-color: var(--item-bg-hover);
    padding: 10px;
    border-radius: 10px;
}

.item img {
    width: 250px;
    height: 250px;
    margin-bottom: 10px;
    border-radius: 8px;
}

.item-details {
    text-align: center;
}

.item-details h3 {
    font-size: 1.2rem;
    margin-bottom: 5px;
}

.item-details p {
    font-size: 1rem;
    margin-bottom: 10px;
    color: var(--secondary-text-color);
}

.item-details span {
    font-size: 1.2rem;
    color: var(--accent-color);
    margin-bottom: 10px;
}

button {
    background-color: var(--accent-color);
    color: var(--bg-color);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1rem;
    border-radius: 5px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: var(--hover-color);
}

.cart {
    width: 90%;
    border: 1px solid var(--accent-color);
    padding: 20px;
    margin-top: 40px;
    background-color: transparent;
    border-radius: 10px;
}

.cart h2 {
    font-size: 1.8rem;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.cart-items {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #2A2A2A;
    border-radius: 5px;
    font-size: 1rem;
}

.cart-item button {
    margin-left: 10px;
}

.form {
    margin-top: 40px;
    margin-bottom: 120px;
}

.form h2 {
    font-size: 1.8rem;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

label {
    display: block;
    font-size: 1rem;
    margin-bottom: 5px;
}

input,
select {
    width: 90%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid var(--accent-color);
    background-color: #1E1E1E;
    color: var(--accent-color);
    font-size: 1rem;
    border-radius: 5px;
}

input:focus,
select:focus {
    outline: none;
    border-color: var(--hover-color);
}

.footer {
    background-color: var(--footer-bg);
    text-align: center;
    font-size: 1rem;
    color: var(--secondary-text-color);
    position: fixed;
    width: 100%;
    bottom: -15px;
    padding-top: 3px;
}

/* Container da lista footer */
.scroll-list-container-footer {
    margin: 5px;
    z-index: 999;
    display: flex;
    justify-content: center;
    background-color: transparent;
    padding: 0px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.scroll-list-container-footer i {
    margin: 10px;
    color: #ffffff;
    letter-spacing: 3px;
}

/* Estilização dos itens da lista */
.scroll-list-container-footer a {
    display: inline-block;
    text-decoration: none;
    color: var(--text-color);
    padding: 10px 20px;
    margin: 0 1px;
    border-radius: 5px;
    background-color: var(--hover-color)78;
    transition: all 0.3s ease;
}

.scroll-list-container-footer a:hover {
    background-color: var(--hover-color);
    color: var(--text-color);
    border-color: yellow;
}

/* Para esconder a barra de rolagem em navegadores */
.scroll-list-container-footer::-webkit-scrollbar {
    height: 8px;
}

.scroll-list-container-footer::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb);
    border-radius: 10px;
}

.scroll-list-container-footer::-webkit-scrollbar-track {
    background-color: var(--scrollbar-track);
}

/* Esconde a barra de rolagem em smartphones */
.scroll-list-container-footer::-webkit-scrollbar {
    display: none;
}

.footer p {
    margin: 0;
    background-color: var(--bg-color);
    padding: 2px;
}

.footer a {
    color: var(--accent-color);
    padding: 2px;
    border-radius: 5px;
    letter-spacing: 1px;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}

@media (min-width: 1200px) {

    header img {
        width: 10%;
        padding: 10px;
    }

    h1 {
        font-size: 3rem;
    }

    .section h2 {
        font-size: 2rem;
        text-transform: uppercase;
        letter-spacing: 1px;
    }

    .item {
        width: calc(33% - 10px);
    }

    button {
        font-size: 1.2rem;
        padding: 12px 24px;
    }

    .cart h2,
    .form h2 {
        font-size: 2rem;
        text-transform: uppercase;
        letter-spacing: 1px;
    }

    .form {
        margin-bottom: 120px;
    }
}

@media (max-width: 1199px) and (min-width: 768px) {
    h1 {
        font-size: 2.5rem;
    }

    .section h2 {
        font-size: 1.8rem;
        text-transform: uppercase;
        letter-spacing: 1px;
    }

    .item {
        width: calc(33.33% - 10px);
    }

    button {
        font-size: 1rem;
        padding: 10px 20px;
    }

    .cart h2,
    .form h2 {
        font-size: 1.8rem;
        text-transform: uppercase;
        letter-spacing: 1px;
    }
}

@media (max-width: 767px) {
    h1 {
        font-size: 2rem;
    }

    .section h2 {
        font-size: 1.5rem;
        text-transform: uppercase;
        letter-spacing: 1px;
    }

    .item {
        width: calc(50% - 15px);
    }

    button {
        font-size: 1rem;
        padding: 10px 20px;
    }

    .cart h2,
    .form h2 {
        font-size: 1.5rem;
        text-transform: uppercase;
        letter-spacing: 1px;
    }

    .cart-items {
        flex-direction: column;
        gap: 5px;
    }

    .footer {
        font-size: 0.9rem;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 1.8rem;
    }

    .section h2 {
        font-size: 1.3rem;
        text-transform: uppercase;
        letter-spacing: 1px;
    }

    .item {
        width: calc(100% - 10px);
    }

    button {
        font-size: 0.9rem;
        padding: 8px 16px;
    }

    .cart h2,
    .form h2 {
        font-size: 1.3rem;
        text-transform: uppercase;
        letter-spacing: 1px;
    }

    .footer {
        font-size: 0.8rem;
    }
}
